<div class="row">

  <!-- Recipe Image Upload -->
  <div class="col-lg-6 col-xs-12" [hidden]="!sessionUser">
    <div class="card">
      <div class="card-header">IMAGE</div>
      <div class="card-body">
        <image-upload (uploadFinished)="imageUploaded($event)" [url]="imageUploadURL" [max]="1" [extensions]="['jpg','png','gif','jpeg']" [headers]="authHeaders">
        </image-upload>
      </div>
    </div>
  </div>
  <!-- End Recipe Image Upload -->

  <!-- Proportions Chart -->
  <div class="col-lg-6 col-xs-12" [hidden]="!sessionUser">
    <div class="card">
      <div class="card-header">PROPORTIONS</div>
      <div class="card-body">
        <div>
          <ngx-charts-pie-chart class="chart-container" [scheme]="colorScheme" [results]="chartData" [legend]="false" [labels]="true" [doughnut]="true" [arcWidth]="0.25" [tooltipDisabled]="true">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <!-- End Proportions Chart -->

  <!-- Flavors List -->
  <div class="col-lg-6 col-xs-12" [hidden]="!sessionUser">
    <div class="card">
      <div class="card-header">FLAVORS</div>
      <div class="card-body">
        <div class="form-row" *ngFor="let flavor of recipe.flavors; let i = index">
          <div class="form-group col-xs-12 col-sm-8">
            <label>{{flavor.manufacturer}}</label>
            <input type="text" class="form-control" [ngbTypeahead]="searchFlavor" [(ngModel)]="recipe.flavors[i].model" placeholder="Flavor" [resultTemplate]="flavorTemplate" (selectItem)="flavorSelected($event,i)" [inputFormatter]="formatter" />

            <ng-template #flavorTemplate let-r="result">
              [{{r.manufacturer}}] {{ r.name }}
            </ng-template>
          </div>

          <div class="form-group col-xs-12 col-sm-4">
            <label>Percent</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="flavor.percent">
              <div class="input-group-addon">%</div>
            </div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group">
            <div class="col-12 mt-3">
              <button type="button" class="btn btn-outline-primary" (click)="addAnotherFlavor()">Add Flavor</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Flavors List -->

  <!-- Recipe Base -->
  <div class="col-lg-6 col-xs-12" [hidden]="!sessionUser">
    <div class="card">
      <div class="card-header">RECIPE BASE</div>
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-6">
            <label>Amount to Make</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.totalVolume">
              <div class="input-group-addon">ml</div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Recipe Strength</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.recipeStrength">
              <div class="input-group-addon">mg/ml</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label>Propylene Glycol (PG)</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.pg">
              <div class="input-group-addon">%</div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Vegetable Glycerin (VG)</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.vg">
              <div class="input-group-addon">%</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label>Nicotine Strength</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.nicotineStrength" min=0 max=100000>
              <div class="input-group-addon">mg/ml</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label>Nicotine PG</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.nicotinePG" (change)="onNicotinePGChange()" min=0 max=100>
              <div class="input-group-addon">%</div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Nicotine VG</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.nicotineVG" (change)="onNicotineVGChange()" min=0 max=100>
              <div class="input-group-addon">%</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Recipe Base -->

  <!-- Additional Info -->
  <div class="col-lg-6 col-xs-12" [hidden]="!sessionUser">
    <div class="card">
      <div class="card-header">ADDITIONAL INFO</div>
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-12">
            <label>Category</label>
            <select class="form-control" [(ngModel)]="recipe.category">
            <option *ngFor="let category of categories">{{category}}</option>
          </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label>Steep Time</label>
            <div class="input-group">
              <input class="form-control" type="number" [(ngModel)]="recipe.steepTime">
              <div class="input-group-addon">days</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label>Description</label>

            <div>
              <div class="toolbar" id="toolbar-toolbar">
                <span class="ql-formats">
                  <select class="ql-size">
                    <option value="small"></option>
                    <option selected=""></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <select class="ql-align">
                    <option selected=""></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                </span>
              </div>

              <div id="editor-container">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Additional Info -->

  <!-- Mixing Guide -->
  <div class="col-lg-6 col-xs-12" [hidden]="!sessionUser">
    <div class="card">
      <div class="card-header">MIXING GUIDE</div>
      <div class="card-body">
        <div class="no-more-tables">
          <table class="table table-striped mb-0">
            <thead class="thead-default">
              <tr>
                <th>
                  Item
                </th>
                <th>
                  Percent
                </th>
                <th class="numeric">
                  Milliliters
                </th>
                <th class="numeric">
                  Grams
                </th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr class="table-success">
                <td data-title="Item">
                  Propylene Glycol (PG)
                </td>
                <td data-title="Percent">
                  0
                </td>
                <td data-title="Milliliters" class="numeric">
                  0
                </td>
                <td data-title="Grams" class="numeric">
                  0
                </td>
              </tr>
              <tr class="table-info">
                <td data-title="Item">
                  Vegetable Glycerin (VG)
                </td>
                <td data-title="Percent">
                  0
                </td>
                <td data-title="Milliliters" class="numeric">
                  0
                </td>
                <td data-title="Grams" class="numeric">
                  0
                </td>
              </tr>
              <tr class="table-warning">
                <td data-title="Item">
                  Nicotine Solution
                </td>
                <td data-title="Percent">
                  0
                </td>
                <td data-title="Milliliters" class="numeric">
                  0
                </td>
                <td data-title="Grams" class="numeric">
                  0
                </td>
              </tr>
              <tr class="table-danger">
                <td data-title="Item">
                  Dilutant
                </td>
                <td data-title="Percent">
                  0
                </td>
                <td data-title="Milliliters" class="numeric">
                  0
                </td>
                <td data-title="Grams" class="numeric">
                  0
                </td>
              </tr>
              <tr *ngFor="let flavor of recipe.flavors">
                <td data-title="Item" *ngIf="flavor.name">
                  {{flavor.name}}
                </td>
                <td data-title="Percent" *ngIf="flavor.name">
                  0
                </td>
                <td data-title="Milliliters" class="numeric" *ngIf="flavor.name">
                  0
                </td>
                <td data-title="Grams" class="numeric" *ngIf="flavor.name">
                  0
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
