<div class="row" *ngIf="recipe">

  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <img class="card-img-top img-fluid" src="{{recipe.image_url || 'assets/images/unsplash/1.jpg'}}" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title ff-headers">
          {{recipe.name}}
        </h4>
        <div class="card card-body card-widget">
          <a [routerLink]="['/profile/' + recipe.owner.id]">
            <img src="assets/images/avatar.jpg" class="avatar-sm rounded-circle" alt="">
          </a>
          <div class="pl-3 pr-3">
            <p class="ff-headers mb-0">{{recipe.owner.username}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="card card-body card-widget">
              <div class="widget-icon rounded-circle bg-blue text-white icon icon-arrows-circle-up">
              </div>
              <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400">
                {{recipe.likes}}
              </h5>
                <small class="text-muted text-uppercase ">
                <strong>Likes</strong>
              </small>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card card-body card-widget">
              <div class="widget-icon rounded-circle bg-green text-white icon icon-arrows-circle-down">
              </div>
              <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400">
                {{recipe.dislikes}}
              </h5>
                <small class="text-muted text-uppercase ">
                <strong>Dislikes</strong>
              </small>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card card-body card-widget">
              <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-heart">
              </div>
              <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400">
                {{recipe.views}}
              </h5>
                <small class="text-muted text-uppercase ">
                <strong>saves</strong>
              </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <button type="button" class="btn btn-primary ml-4" [disabled]="false">View Recipe</button>
          <button type="button" class="btn btn-success ml-2" [disabled]="false">Modify Recipe</button>
        </div>

        <p class="card-text">
          <small class="text-muted">
            Created {{recipe.createdAt | date:'medium'}}
          </small>
        </p>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-xs-12">

    <div class="card card-body card-widget bg-blue card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.category}}</h3>
        <small>Category</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-green card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.pg_percent}}%</h3>
        <small>Propylene Glycol</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-teal card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.vg_percent}}%</h3>
        <small>Vegetable Glycerin</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-purple card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.steep_time}} days</h3>
        <small>Steep Time</small>
      </div>
    </div>

    <div class="card">
      <div class="card-header">DESCRIPTION</div>
      <div class="card-body" [innerHTML]="recipe.description">
      </div>
    </div>

  </div>

</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Flavors</p>
<div class="row" *ngIf="recipe">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card col-lg-3 col-xs-6" *ngFor="let flavor of recipe.flavors">
        <a href="{{flavor.link}}">
          <img class="card-img-top img-fluid flavor-card-img" src="{{flavor.image_url || 'assets/images/unsplash/10.jpg'}}" alt="Card image" />
        </a>
        <div class="card-body">
          <h5 class="card-title">
              {{flavor.name}}
            </h5>
          <p class="card-text">
            {{flavor.manufacturer}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
