<div class="row" *ngIf="recipe">

  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <img class="card-img-top img-fluid" src="{{recipe.image_url || 'assets/images/unsplash/1.jpg'}}" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title ff-headers">
          {{recipe.name}}
        </h4>
        <div class="card card-body card-widget no-shadow">
          <a [routerLink]="['/profile/' + recipe.owner.id]">
            <img src="{{recipe.owner.image_url || 'assets/images/blank_user.png'}}" class="avatar-sm rounded-circle" alt="">
          </a>
          <div class="pl-3 pr-3">
            <p class="ff-headers mb-0">{{recipe.owner.username}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="card card-body card-widget no-shadow">
              <div class="widget-icon rounded-circle text-blue icon icon-arrows-circle-up" (click)="onLikeButtonClick()" [ngClass]="{'liked': isRecipeLiked}">
              </div>
              <div class="block ml-3">
                <h5 class="mb-0 fw-400">
                {{recipe.likes_count}}
              </h5>
                <small class="text-muted text-uppercase ">
                <strong>Likes</strong>
              </small>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card card-body card-widget no-shadow">
              <div class="widget-icon rounded-circle text-red icon icon-basic-heart" (click)="onSaveButtonClick()" [ngClass]="{'saved': isRecipeSaved}">
              </div>
              <div class="block ml-3">
                <h5 class="mb-0 fw-400">
                {{recipe.saves_count}}
              </h5>
                <small class="text-muted text-uppercase ">
                <strong>saves</strong>
              </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <a [routerLink]="['/view/recipe' , recipe.id]">
            <button type="button" class="btn btn-outline-primary ml-4" [disabled]="false">View Recipe</button>
          </a>
          <a [routerLink]="'/update/recipe/' + recipe.id" *ngIf="sessionUser && (recipe.owner.id == sessionUser.id)">
            <button type="button" class="btn btn-outline-success ml-2" [disabled]="false">Update Recipe</button>
          </a>
        </div>

        <p class="card-text">
          <small class="text-muted">
            Created {{recipe.createdAt | date:'medium'}}
          </small>
        </p>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-xs-12">

    <div class="card card-body card-widget bg-blue card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.category}}</h3>
        <small>Category</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-green card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.pg_percent}}%</h3>
        <small>Propylene Glycol</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-teal card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.vg_percent}}%</h3>
        <small>Vegetable Glycerin</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-purple card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.steep_time}} days</h3>
        <small>Steep Time</small>
      </div>
    </div>

    <div class="card">
      <div class="card-header">DESCRIPTION</div>
      <div class="card-body" [innerHTML]="recipe.description">
      </div>
    </div>

  </div>

</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Flavors</p>
<div class="row" *ngIf="recipe">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card col-xl-2 col-lg-3 col-sm-4 col-xs-6 flavor-card" *ngFor="let flavor of recipe.flavors">
        <a href="{{flavor.link}}">
          <img class="card-img-top flavor-card-img" src="{{flavor.image_url || 'assets/images/unsplash/10.jpg'}}" alt="Card image" />
        </a>
        <div class="card-body">
          <h5 class="card-title">
              {{flavor.name}}
            </h5>
          <p class="card-text">
            {{flavor.manufacturer}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Reviews</p>
<div class="card col-12">
  <!--<div class="card-header">REVIEWS</div>-->
  <div class="card-body">
    <ng-sidebar-container class="page-height" *ngIf="selectedReview">
      <ng-sidebar
        [(opened)]="isOpened"
        [mode]="isOver() ? 'over' : 'push'"
        [position]="'left'"
        [dockedSize]="'50px'"
        [autoCollapseWidth]="'991'"
        [closeOnClickOutside]="isOver() ? true : false"
        [showBackdrop]="isOver() ? true : false"
        [sidebarClass]="'email-panel'">
        <div class="scroll-y">
          <div (click)="onSelect(review)" *ngFor="let review of recipe.reviews; let i = index" [class.selected]="review.id == selectedReview.id" class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column align-items-start">
            <a class="d-flex b-b w-100" href="javascript:;">
              <div class="">
                <img alt="" class="avatar-sm rounded-circle" src="{{review.owner.image_url}}"/>
              </div>
              <div class="pl-3 w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <small class="bold ff-headers">
                    {{review.owner.username}}
                  </small>
                  <small class="bold text-muted time">
                    {{ review.updatedAt | date: 'MMMM d, y' }}
                  </small>
                </div>
                <p class="mb-0">
                  {{review.title}}
                </p>
              </div>
            </a>
          </div>
        </div>
      </ng-sidebar>
      <div ng-sidebar-content class="scroll-y">
        <nav class="navbar custom-navbar" *ngIf="!isOpened">
          <div class="nav navbar-nav">
            <a (click)="toogleSidebar()" class="nav-link d-lg-none d-sm-inline-block" href="javascript:;">
              <i class="hamburger-icon">
                <span></span>
              </i>
            </a>
            <!--
            <a class="nav-item nav-link active" href="javascript:;">
              Reply
            </a>
            <a class="nav-item nav-link" href="javascript:;">
              Forward
            </a>
            <a class="nav-item nav-link" href="javascript:;">
              Flag
            </a>
            <a class="nav-item nav-link disabled" href="javascript:;">
              Delete
            </a>
          -->
          </div>
        </nav>
        <div class="pl-5 pr-5 pt-3 pb-3">
          <div *ngIf="selectedReview">
            <div class="d-flex align-items-center mb-3">
              <div class="">
                <img alt="" class="avatar-lg rounded-circle" src="{{selectedReview.owner.image_url}}"/>
              </div>
              <div class="pl-3">
                <div class="date">
                  {{selectedReview.updatedAt | date: 'fullDate'}}
                </div>
                <h4 class="lead mt-0">
                  {{selectedReview.title}}
                </h4>
                <!--
                <p>

                  <b>
                    {{selectedReview.from}}
                  </b>
                  to Jeff &amp; Suzzane
                </p>
              -->
              </div>
            </div>
            <div [innerHtml]="selectedReview.description">
            </div>
          </div>
          <!--
          <div class="pt-3 pb-3">
            <div class="toolbar" id="toolbar-toolbar">
              <span class="ql-formats">
                <select class="ql-font">
                  <option selected=""></option>
                  <option value="serif"></option>
                  <option value="monospace"></option>
                </select>
                <select class="ql-size">
                  <option value="small"></option>
                  <option selected=""></option>
                  <option value="large"></option>
                  <option value="huge"></option>
                </select>
              </span>
              <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
              </span>
              <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
              </span>
              <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <select class="ql-align">
                  <option selected=""></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
              </span>
              <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
              </span>
            </div>
            <div id="editor-container">
            </div>
          </div>
        -->
        </div>
      </div>
    </ng-sidebar-container>
  </div>
</div>
