<div class="row" *ngIf="recipe">

  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <img class="card-img-top img-fluid" src="{{recipe.image_url || 'assets/images/recipe-defaults/other.jpg'}}" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title ff-headers">
          {{recipe.name}}
        </h4>
        <div class="card card-body card-widget no-shadow">
          <a [routerLink]="['/profile/' + recipe.owner.id]">
            <img src="{{recipe.owner.image_url || 'assets/images/blank_user.png'}}" class="avatar-sm rounded-circle" alt="">
          </a>
          <div class="pl-3 pr-3">
            <p class="ff-headers mb-0">{{recipe.owner.username}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="card card-body card-widget no-shadow">
              <div class="widget-icon rounded-circle text-blue icon icon-arrows-circle-up" (click)="onLikeButtonClick()" [ngClass]="{'liked': isRecipeLiked}">
              </div>
              <div class="block ml-3">
                <h5 class="mb-0 fw-400">
                {{recipe.likes_count}}
              </h5>
                <small class="text-muted text-uppercase ">
                <strong>Likes</strong>
              </small>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card card-body card-widget no-shadow">
              <div class="widget-icon rounded-circle text-red icon icon-basic-heart" (click)="onSaveButtonClick()" [ngClass]="{'saved': isRecipeSaved}">
              </div>
              <div class="block ml-3">
                <h5 class="mb-0 fw-400">
                {{recipe.saves_count}}
              </h5>
                <small class="text-muted text-uppercase ">
                <strong>saves</strong>
              </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <a [routerLink]="['/view/recipe' , recipe.id]">
            <button type="button" class="btn btn-outline-primary ml-4" [disabled]="false">View Recipe</button>
          </a>
          <a [routerLink]="'/update/recipe/' + recipe.id" *ngIf="sessionUser && (recipe.owner.id == sessionUser.id)">
            <button type="button" class="btn btn-outline-success ml-2" [disabled]="false">Update Recipe</button>
          </a>
        </div>

        <p class="card-text">
          <small class="text-muted">
            Created {{recipe.createdAt | date:'medium'}}
          </small>
        </p>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-xs-12">

    <div class="card card-body card-widget bg-blue card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.category}}</h3>
        <small>Category</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-green card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.pg_percent}}%</h3>
        <small>Propylene Glycol</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-teal card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.vg_percent}}%</h3>
        <small>Vegetable Glycerin</small>
      </div>
    </div>

    <div class="card card-body card-widget bg-purple card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">{{recipe.steep_time}} days</h3>
        <small>Steep Time</small>
      </div>
    </div>

    <div class="card">
      <div class="card-header">DESCRIPTION</div>
      <div class="card-body" [innerHTML]="recipe.description">
      </div>
    </div>

  </div>

</div>

<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Flavors</p>
<div class="row" *ngIf="recipe">
      <div *ngFor="let flavor of recipe.flavors" class="col-xl-3 col-lg-4 col-sm-6 mb-3">
        <div class="card flavor-card h-100">
          <a href="{{flavor.link}}" class="mt-2">
            <img class="card-img-top center-cropped" src="{{flavor.image_url || 'assets/images/recipe-defaults/other.jpg'}}" alt="Card image" />
          </a>
          <div class="card-body">
            <h5 class="card-title">
              {{flavor.name}}
            </h5>
            <p class="card-text">
              {{flavor.manufacturer}}
            </p>
          </div>
        </div>
    </div>
</div>


<p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Reviews</p>
<div class="card col-12">
  <!--<div class="card-header">REVIEWS</div>-->
  <div class="card-body">
    <div class="row">

      <div class="column d-none d-md-block mr-3">
        <div *ngIf="selectedReview">
          <div (click)="selectedReview = review" *ngFor="let review of recipe.reviews; let i = index" [class.selected]="review.id == selectedReview.id" class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-1 border-top-0 flex-column align-items-start">
            <a class="d-flex b-b w-100">
              <div>
                <img alt="" class="avatar-sm rounded-circle" src="{{review.owner.image_url || 'assets/images/blank_user.png'}}" />
              </div>
              <div class="pl-3 w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <small class="bold ff-headers">
                  {{review.owner.username}}
                </small>
                  <small class="bold text-muted time">
                  {{ review.updatedAt | date: 'MMMM d, y' }}
                </small>
                </div>
                <p class="mb-0">
                  {{review.title}}
                </p>
                <ngb-rating [(rate)]="review.rating" [readonly]="true" max="5"></ngb-rating>
              </div>
            </a>
          </div>
        </div>

        <div *ngIf="!selectedReview" class="list-group-item list-group-item-action border-bottom-0 border-left-0 border-right-1 border-top-0 flex-column align-items-start">
          No Reviews Yet
        </div>


      </div>

      <div class="col">

        <!-- Buttons Row -->
        <div class="form-row">
          <div class="form-group">
            <a>
              <button type="button" class="btn btn-primary" (click)="onReviewCreateClick()" [disabled]="false" *ngIf="!isWritingReview && sessionUser">Write A Review</button>
            </a>
            <a>
              <button type="button" class="btn btn-success" (click)="getRecipeReviews()" *ngIf="!isWritingReview && showLoadMoreReviewButton">Load More</button>
            </a>
            <a>
              <button type="button" class="btn btn-success" (click)="onReviewSubmit()" [disabled]="!form.valid" *ngIf="isWritingReview">Submit</button>
            </a>
            <a>
              <button type="button" class="btn btn-danger ml-2" (click)="isWritingReview = false" [disabled]="false" *ngIf="isWritingReview">Cancel</button>
            </a>
          </div>
        </div>
        <!-- End buttons row -->

        <div class="pr-5 pt-3 pb-3 col-12 d-none d-md-block" *ngIf="!isWritingReview && selectedReview">
          <div>
            <div class="d-flex align-items-center mb-3">
              <img alt="" class="avatar-lg rounded-circle" src="{{selectedReview.owner.image_url || 'assets/images/blank_user.png'}}" />
              <div class="pl-3">
                <div class="date">
                  {{selectedReview.updatedAt | date: 'fullDate'}}
                </div>
                <h4 class="lead mt-0">
                {{selectedReview.title}}
              </h4>
                <small>{{selectedReview.owner.username}}</small>
                <ngb-rating [(rate)]="selectedReview.rating" [readonly]="true" max="5"></ngb-rating>
              </div>
            </div>
            <div [innerHtml]="selectedReview.description">
            </div>
          </div>
        </div>

        <!-- Review View for small devices -->
        <div class="col-12 d-md-none" *ngIf="!isWritingReview && selectedReview">
          <div *ngFor="let review of recipe.reviews">
            <div class="d-flex align-items-center mb-3">
              <img alt="" class="avatar-lg rounded-circle" src="{{review.owner.image_url || 'assets/images/blank_user.png'}}" />
              <div class="pl-3">
                <div class="date">
                  {{review.updatedAt | date: 'fullDate'}}
                </div>
                <h4 class="lead mt-0">
                {{review.title}}
              </h4>
                <small>{{review.owner.username}}</small>
                <ngb-rating [(rate)]="selectedReview.rating" [readonly]="true" max="5"></ngb-rating>
              </div>
            </div>
            <div [innerHtml]="review.description">
            </div>
          </div>
        </div>
        <!-- end review view for small devices -->

        <!-- Review creation form -->
        <div class="pt-3" [hidden]="!isWritingReview">

          <!-- Title Field -->
          <div class="form-row">
            <fieldset class="form-group col-12" [ngClass]="{'has-danger': form.controls['title'].hasError('required') && form.controls['title'].touched}">
              <label class="form-control-label">
              Title
            </label>
              <input type="text" class="form-control" placeholder="Title" [formControl]="form.controls['title']" [ngClass]="{'form-control-danger': form.controls['title'].hasError('required') && form.controls['title'].touched}" />
              <div class="form-control-feedback" *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched">Make sure to give your review a title!</div>
            </fieldset>
          </div>
          <!-- End Title field -->

          <!-- Title Field -->
          <div class="form-row">
            <div class="form-group col-12">
              <label class="form-control-label">Rating</label>
              <div [class.has-success]="form.controls['rating'].valid" [class.has-danger]="form.controls['rating'].invalid">
                <ngb-rating [formControl]="form.controls['rating']" [readonly]="false" min="1" max="5">
                  <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </div>
            </div>
          </div>
          <!-- End Title field -->

          <!-- Description edit box -->
          <div class="form-row">
            <div class="form-group col-12">
              <label class="">Description</label>
              <div>
                <div class="toolbar" id="toolbar-toolbar">
                  <span class="ql-formats">
              <select class="ql-font">
                <option selected=""></option>
                <option value="serif"></option>
                <option value="monospace"></option>
              </select>
              <select class="ql-size">
                <option value="small"></option>
                <option selected=""></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
            </span>
                  <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
                  <span class="ql-formats">
              <select class="ql-color"></select>
              <select class="ql-background"></select>
            </span>
                  <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
                  <span class="ql-formats">
              <button class="ql-link"></button>
            </span>
                </div>
                <div id="editor-container">
                </div>
              </div>
            </div>
          </div>
          <!-- end Description edit box -->

        </div>
        <!-- End of Review Creation Form -->

      </div>
    </div>

  </div>
</div>
