<div class="card">
  <a [routerLink]="'/recipe/' + recipe.id">
    <img class="card-img-top img-fluid" src="{{recipe.image_url || 'assets/images/unsplash/10.jpg'}}" alt="Card image" />
  </a>
  <div class="card-body">
    <h6 class="card-title">{{recipe.name}}</h6>
  </div>
  <div class="likes-saves-header card-footer">
    <div class="widget-icon rounded-circle text-blue icon icon-arrows-circle-up">
    </div>
    <span>{{ recipe.likes_count }}</span>
    <div class="widget-icon rounded-circle text-red icon icon-basic-heart" (click)="onSaveButtonClick()" [ngClass]="{'saved': isRecipeSaved}">
    </div>
    <span>{{ recipe.saves_count }}</span>
  </div>
</div>
