<div class="card h-100">
  <div *ngIf="recipe.owner.id != null" class="card-block user-info-header">
    <div class="d-flex w-100">
      <div>
        <a [routerLink]="'/profile/' + recipe.owner.id">
          <img alt="" class="avatar-xs rounded-circle" src="{{recipe.owner.image_url || 'assets/images/blank_user.png'}}" onError="this.src='assets/images/blank_user.png';" />
        </a>
      </div>
      <div class="pl-3 w-75">
        <div class="w-100">
          <p class="bold ff-headers mb-0 text-truncate">{{recipe.owner.username}}</p>
        </div>
        <small class="text-muted">{{recipe.updatedAt | date: 'MMMM d, y'}}</small>
      </div>
    </div>
  </div>
  <a [routerLink]="'/recipe/' + recipe.id">
    <img class="card-img-top img-fluid" src="{{recipe.image_url || 'assets/images/recipe-defaults/other.jpg'}}" onError="this.src='assets/images/recipe-defaults/other.jpg';" alt="Card image" />
  </a>
  <div class="card-body recipe-body">
    <h6 class="card-title bold ff-headers">{{recipe.name}}</h6>
  </div>
  <div class="card-body recipe-body">
    <p class="ff-headers text-muted">{{recipe.category}}</p>
  </div>
  <div class="likes-saves-header card-block ml-2" *ngIf="recipe.likes_count != null && recipe.saves_count != null">
    <div class="widget-icon rounded-circle text-blue icon icon-arrows-circle-up">
    </div>
    <span>{{ recipe.likes_count }}</span>
    <span class="text-muted text-uppercase ml-1">likes</span>
    <div class="widget-icon rounded-circle text-red icon icon-basic-heart" (click)="onSaveButtonClick()" [ngClass]="{'saved': isRecipeSaved}">
    </div>
    <span>{{ recipe.saves_count }}</span>
    <span class="text-muted text-uppercase ml-1">saves</span>
  </div>
</div>
