<div class="wrapper" *ngIf="dataLoaded">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-3">
              <h4 class="ma-0 text-center"><span class="fw-400"><b>{{user.username}}</b></span></h4>
            </div>
            <div class="col-12 p-3">
              <figure>
                <div class="text-center">
                  <div class="avatar-status">
                    <img src="{{user.image_url || 'assets/images/blank_user.png'}}" alt="" class="rounded-circle img-fluid">
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row text-center">

            <div class="col">
              <h2 class="mt-0"><b>{{user.recipes_count || 0}}</b></h2>
              <small>Recipes</small>
            </div>

            <div class="col">
              <h2 class="mt-0"><b>{{user.followers_count || 0}}</b></h2>
              <small>Followers</small>
            </div>

            <div class="col">
              <h2 class="mt-0"><b>{{user.following_count || 0}}</b></h2>
              <small>Following</small>
            </div>

          </div>
        </div>
        <div class="card-body">
          <p class="ff-headers text-uppercase mb-3"><strong>About Me</strong></p>
          <p [innerHTML]="user.biography"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">

        <ngb-tabset type="pills" class="m-3">
          <ngb-tab title="Recipes" *ngIf="user.recipes.length > 0">
            <ng-template ngbTabContent>
              <div class="mt-3">
                <app-recipe-container [recipes]="user.recipes" [type]="'cards'" [gridClass]="'col-xl-4 col-lg-6'" (onLoadMoreClick)="getUserRecipes()" [showLoadMoreButton]="recipesLoadButton" [showLoadingSpinner]="recipesLoadingSpinner"></app-recipe-container>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Saved">
            <ng-template ngbTabContent>
              <div class="mt-3">
                <app-recipe-container [recipes]="user.saved_recipes" [type]="'cards'" [gridClass]="'col-xl-4 col-lg-6'" (onLoadMoreClick)="getSavedRecipes()" [showLoadMoreButton]="savedLoadButton" [showLoadingSpinner]="savedLoadingSpinner"></app-recipe-container>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Liked">
            <ng-template ngbTabContent>
              <div class="mt-3">
                <app-recipe-container [recipes]="user.liked_recipes" [type]="'cards'" [gridClass]="'col-xl-4 col-lg-6'" (onLoadMoreClick)="getLikedRecipes()" [showLoadMoreButton]="likedLoadButton" [showLoadingSpinner]="likedLoadingSpinner"></app-recipe-container>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Followers">
            <ng-template ngbTabContent>
              <div class="mt-3">
                <app-user-container [users]="user.followers" [type]="'cards'" [gridClass]="'col-xl-4 col-lg-6'" (onLoadMoreClick)="getFollowers()" [showLoadMoreButton]="followersLoadButton" [showLoadingSpinner]="followersLoadingSpinner"></app-user-container>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Following">
            <ng-template ngbTabContent>
              <div class="mt-3">
                <app-user-container [users]="user.following" [type]="'cards'" [gridClass]="'col-xl-4 col-lg-6'" (onLoadMoreClick)="getFollowing()" [showLoadMoreButton]="followingLoadButton" [showLoadingSpinner]="followingLoadingSpinner"></app-user-container>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
